.projects-heading {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Tinos', serif;
}

.projects-heading h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

/* Wrapper to block overflow */
.carousel-wrapper {
  width: 100%;
  overflow-x: hidden;
}

/* The scrolling row */
.container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: fit-content;
  padding: 20px 10px; /* padding to both sides */
  margin-top: 60px;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Cards */
.card {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  margin-right: 10px;
}


.card:hover {
  transform: scale(1.03);
}
