

@font-face {
  font-family: 'Tinos';
  src: url('../Font/Tinos/Tinos-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('../Font/Tinos/Tinos-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('../Font/Tinos/Tinos-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Tinos';
  src: url('../Font/Tinos/Tinos-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}